li {
  display: inline;
  cursor: pointer;
  opacity: 50%;
  font-size: 2.5rem;
  position: relative;
}
li::after {
  border-bottom: 4px solid cornflowerblue;
  content: "";
  width: 0%;
  display: block;
  transition: width ease-in-out 250ms;
}
li.active {
  opacity: 100%;
}
li.active::after {
  width: 100%;
}
