body {
  background-color: #eaeaea71;
}
.App {
  text-align: center;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1rem auto;
  border: 1px solid #a7a7a7;
  border-radius: 20px;
  height: 85vh;
  box-shadow: #bcbcbcab 8px 8px 7px;
  position: relative;
}

h1 {
  margin: 0 0 1.5rem 0;
  text-align: center;
  display: block;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 60%;
  margin: 20px auto;
}
